version: '3.7'

services:

  mssql:
    image: mcr.microsoft.com/mssql/server:latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=z0aiDwJ0205q37Nr
    ports:
      - "1433:1433"
    networks:
      - lionize

  mongo:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: Xq5xrtzEKj44ueyd
    networks:
      - lionize

  rabbitmq:
      image: rabbitmq:management-alpine
      container_name: rabbitmq
      environment:
            RABBITMQ_DEFAULT_USER: rabbit
            RABBITMQ_DEFAULT_PASS: EvtNt7PKZqNNT06T
      ports:
          - 5672:5672
          - 15672:15672
      networks:
      - lionize

networks:
      lionize:
        driver: bridge