version: '3.7'

services:

  identity:
    image: tiksn/lionize-identity-management-service:latest
    hostname: identity
    domainname: identity
    ports:
      - "8081:80"
    env_file:
      - variables.env
    environment:
      - ConnectionStrings__Users=Server=mssql;Database=IdentityManagementService;User Id=sa;Password=z0aiDwJ0205q37Nr;
      - ConnectionStrings__Configuration=Server=mssql;Database=IdentityManagementService;User Id=sa;Password=z0aiDwJ0205q37Nr;
      - ConnectionStrings__Operational=Server=mssql;Database=IdentityManagementService;User Id=sa;Password=z0aiDwJ0205q37Nr;
      - ApiResource__ApiName=identity-api
      - ApiResource__ApiSecret=Iu+LZ8RCoUcrv6XNFcg+eEyHPBYeeLyBfmkex++Apqvn/dnrSsZx1r/rw7gvJAY7s4V7Lleh9qozCehaI9pYqg==
    networks:
      - lionize

  tasks:
    image: tiksn/lionize-task-management-service:latest
    hostname: tasks
    domainname: tasks
    ports:
      - "8083:80"
    env_file:
      - variables.env
    environment:
      - ApiResource__ApiName=task-api
      - ApiResource__ApiSecret=B01SeaEDdDBGDLeqUCHuPSUhuSXsa8VEsvvEp6bfb804hLcVZ1bcJkZDB/crtsSG2xzzgiRxjZuHDsalPs2JZg==
    networks:
      - lionize

  habitica:
    image: tiksn/lionize-habitica-task-provider-service:latest
    hostname: habitica
    domainname: habitica
    ports:
      - "8085:80"
    env_file:
      - variables.env
    environment:
      - ConnectionStrings__Redis=redis:6379,password=UmimfRKpdTj1VJjK
      - ConnectionStrings__Mongo=mongodb://root:Xq5xrtzEKj44ueyd@mongo:27017/HabiticaTaskProviderService?authSource=admin
      - ApiResource__ApiName=habitica-api
      - ApiResource__ApiSecret=43xoIIj2QFyvFNevScaPvOFUWNQa4unVwT75TOlG5cmwFyAwcI+BFW4mpkeN52jXSAHbUya58gCTkl5K/PNyaQ==
    networks:
      - lionize

  web-ui:
    image: ashotnazaryan45/lionize-web-ui:latest
    ports:
      - "8080:80"
    networks:
      - lionize

networks:
      lionize:
        driver: bridge